@import viewmodels.AnswerRow

@(row: AnswerRow)(implicit messages: Messages)

<li class="tabular-data__entry tabular-data__entry--grouped divider--bottom">
    <div class="tabular-data__data tabular-data__data--6-12">@messages(row.label)</div>
    <div class="tabular-data__data tabular-data__data--3-12">
    @if(row.answerIsMessageKey){
        @messages(row.answer)
    } else{
        @row.answer
    }
    </div>
    <div class="tabular-data__data tabular-data__data--3-12 u-align--tablet-right">
        <a href='@row.changeUrl'>
            <span aria-hidden="true">@messages("site.edit")</span>
            <span class="visually-hidden">@messages("site.hidden-edit", messages(row.label))</span>
        </a>
    </div>
</li>
