@(
        field: Field,
        label: String,
        secondaryLabel: Option[String] = None,
        inputClass: Option[String] = None,
        labelClass: Option[String] = None,
        hint: Option[String] = None
)(implicit messages: Messages)

<div class="form-group @if(field.hasErrors){form-group-error}">
    <label class="form-label" for="@{field.id}">
        <span class="bold @labelClass">@label</span>
        @hint.map { hint =>
            <span class="form-hint">@hint</span>
        }
        @field.errors.map { error =>
            <span class="error-message" id="error-message-@{field.id}-input">@messages(error.message, error.args: _*)</span>
        }
    </label>
    <div class="form-control-wrapper char-counter" data-char-counter>
        <textarea
            class="form-control form-control--full-width @inputClass"
            id="@{field.id}"
            name="@{field.id}"
            @if(field.hasErrors) { aria-describedby="error-message-@{field.id}-input" }
            rows="5"
        >@{field.value}</textarea>
    </div>
</div>
