@import uk.gov.hmrc.govukfrontend.views.html.components.implicits._

@this(govukDateInput: GovukDateInput)

@(
  form: Form[_],
  legend: String,
  legendClass: Option[String] = None,
  hint: Option[String] = None,
  headingIsLegend: Boolean = false
)(implicit messages: Messages)

@govukDateInput(DateInput(
    id = form("value").id,
    namePrefix = Some(form("value").name),
    errorMessage = form.errors.asTextErrorMessageForField(fieldKey = "value"),
    hint = if(hint.isDefined) Some(Hint(content = Text(hint.get))) else None,
    fieldset = Some(Fieldset(
        legend = Some(Legend(
            content = Text(legend),
            isPageHeading = headingIsLegend,
            classes = legendClass.getOrElse("govuk-fieldset__legend--xl")
        ))
    )),
    items = Seq(
        InputItem(
            name = form("day").name,
            label = Some(messages("date.day")),
            value = form("value-day").value,
            classes = "govuk-input--width-2"
        ),
        InputItem(
            name = form("month").name,
            label = Some(messages("date.month")),
            value = form("value-month").value,
            classes = "govuk-input--width-2"
        ),
        InputItem(
            name = form("year").name,
            label = Some(messages("date.year")),
            value = form("value-year").value,
            classes = "govuk-input--width-4"
        )
    )
))
