@(
  field: Field,
  legend: String,
  legendClass: String = "",
  hint: Option[String] = None
)(implicit messages: Messages)

<div class="form-group @if(field.hasErrors){form-group-error}">
    <fieldset>
        <legend>
          <span class="form-label bold @legendClass">
            @legend
          </span>
          @if(hint.nonEmpty){
              <span class="form-hint" id="@field.id-hint">@hint</span>
          }
            @field.errors.map { error =>
                <span class="error-message" id="error-message-@{field.id}-input">@messages(error.message, error.args: _*)</span>
            }
        </legend>
        <div id="@field.id" class="form-date">
            @List("day", "month", "year").map { part =>
              <div class="form-control-wrapper form-group form-group-@part">
                <label class="form-label" for="@field(part).id">@messages(s"date.\$part")</label>
                <input class="form-control @if(field(part).hasErrors || field.error.exists(_.args.contains(part))){field-error}" id="@field(part).id" name="@field(part).name" type="tel" value="@field(part).value" />
              </div>
            }
        </div>
    </fieldset>
</div>
