@(
        field: Field,
        legend: String,
        hint: Option[String] = None,
        legendClass: Option[String] = None,
        headingIsLegend: Boolean = false
)(implicit messages: Messages)


<div class="form-group @if(field.hasErrors){form-group-error}">
    <fieldset class="inline" id="@{field.id}" @if(field.hasErrors || hint.nonEmpty){aria-describedby="@if(field.hasErrors){error-message-@{field.id}-input} @if(hint.nonEmpty){hint-@{field.id}}"}>

        @if(headingIsLegend){
            <legend>
                <h1 @if(legendClass.nonEmpty){class="@legendClass" }else{class="heading-xlarge"}>@legend</h1>
            </legend>
        } else {
            <legend @if(legendClass.nonEmpty){class="@legendClass" }>
                @legend
            </legend>
        }

        @if(hint.nonEmpty){
            <div class="form-hint" id="hint-@{field.id}">@hint</div>
        }
        @field.errors.map { error =>
            <div class="error-message" id="error-message-@field.id-input">
                <span class="visually-hidden">@messages("error.browser.title.prefix") </span>@messages(error.message, error.args: _*)
            </div>
        }

        <div class="multiple-choice">
            <input id="@{field.id}-yes" type="radio" name="@{field.id}" value="true" @if(field.value.contains("true")){checked="checked"} />
            <label class="block-label selection-button-radio" for="@{field.id}-yes">
                @messages("site.yes")
            </label>
        </div>

        <div class="multiple-choice">
            <input id="@{field.id}-no" type="radio" name="@{field.id}" value="false" @if(field.value.contains("false")){checked="checked"} />
            <label class="block-label selection-button-radio" for="@{field.id}-no">
                @messages("site.no")
            </label>
        </div>

    </fieldset>
</div>

