@(
        field: Field,
        label: String,
        inputClass: Option[String] = None,
        hint: Option[String] = None,
        labelClass: Option[String] = None
)(implicit messages: Messages)

<div class="form-group @if(field.hasErrors){form-group-error}">
    <label class="form-label" for="@{field.id}">
        <span class="bold @if(labelClass.nonEmpty){@labelClass}">@label</span>
        @if(hint.nonEmpty){
            <span class="form-hint">@hint</span>
        }
        @field.errors.map { error =>
            <span class="error-message" id="error-message-@{field.id}-input">@messages(error.message, error.args: _*)</span>
        }
    </label>
    <div class="form-control-wrapper">
        <input
        class="form-control @inputClass"
        type="text"
        id="@{field.id}"
        name="@{field.name}"
        value="@{field.value}"
            @if(field.hasErrors){aria-describedby="error-message-@{field.id}-input"}
        />
    </div>
</div>

