@this(govukRadios: GovukRadios)

@(
        field: Field,
        legend: String,
        legendClass: Option[String] = None,
        hint: Option[String] = None,
        headingIsLegend: Boolean = false,
        inputs: Seq[RadioItem]
)(implicit messages: Messages)

@govukRadios(Radios(
    idPrefix = Some(field.id),
    name = field.name,
    classes = "govuk-radios--inline",
    errorMessage = if(field.hasErrors) Some(ErrorMessage(content = Text(messages(field.errors.map(e => e.message))))) else None,
    hint = if(hint.isDefined) Some(Hint(content = Text(hint.get))) else None,
    fieldset = Some(Fieldset(
        legend = Some(Legend(
            content = Text(legend),
            isPageHeading = headingIsLegend,
            classes = legendClass.getOrElse("govuk-fieldset__legend--xl")
        ))
    )),
    items = inputs
))

