@import uk.gov.hmrc.govukfrontend.views.html.components.implicits._
@import controllers.routes.$className$Controller
@import models.{Mode, $className$}

@this(
        layout: Layout,
        govukErrorSummary: GovukErrorSummary,
        button: GovukButton,
        input_checkboxes: components.input_checkboxes,
        formHelper: FormWithCSRF
)

@(form: Form[Set[$className$]], mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(
    pageTitle = s"\${errorPrefix(form)} \${messages("$className;format="decap"$.title")}"
) {

    @formHelper(action = $className;format="cap"$Controller.onSubmit(mode), 'autoComplete -> "off") {
        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummary(errorList = form.errors.asTextErrorLinks, title = Text(messages("error.summary.title"))))
        }

        @input_checkboxes(
            field = form("value"),
            legend = messages("$className;format="decap"$.heading"),
            headingIsLegend = true,
            inputs = mapRadioOptionsToCheckboxItems(form, false, $className$.options)
        )

        @button(Button(content = Text(messages("site.continue"))))
    }
}
