@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import controllers.routes._
@import models.$className$
@import models.Mode
@import views.ViewUtils._

@(appConfig: FrontendAppConfig, form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@main_template(
    title = s"\${errorPrefix(form)} \${messages("$className;format="decap"$.title")}",
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = $className$Controller.onSubmit(mode), 'autoComplete -> "off") {

        @components.back_link()
        
        @components.error_summary(form.errors)

        @components.heading("$className;format="decap"$.heading")

        @components.input_radio(
            field = form("value"),
            legend = messages("$className;format="decap"$.heading"),
            legendClass = Some("visually-hidden"),
            inputs = $className$.options.toSeq
        )

        @components.submit_button()
    }
}
