@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    govukButton: GovukButton
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("$className;format="decap"$.title"))) {

    @formHelper(action = routes.$className$Controller.onSubmit(mode), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form,  errorLinkOverrides = Map("value" -> "value_0")))
        }

        @govukRadios(
            RadiosViewModel(
                field  = form("value"),
                legend = LegendViewModel(messages("$className;format="decap"$.heading")).asPageHeading(),
                items  = $className$.options
            )
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
