@import controllers.routes._
@import models.{Mode, $className$}

@this(
    main_template: MainTemplate,
    formHelper: FormWithCSRF
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@main_template(
    title = s"\${errorPrefix(form)} \${messages("$className;format="decap"$.title")}"
    ) {

    @formHelper(action = $className$Controller.onSubmit(mode), 'autoComplete -> "off") {

        @components.back_link()

        @components.error_summary(form.errors)

        @components.input_radio(
            field = form("value"),
            legend = messages("$className;format="decap"$.heading"),
            headingIsLegend = true,
            inputs = $className$.options.toSeq
        )

        @components.submit_button()
    }
}
