@import config.FrontendAppConfig
@import uk.gov.hmrc.hmrcfrontend.views.config.StandardAlphaBanner
@import views.html.helper.CSPNonce
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers._
@import uk.gov.hmrc.hmrcfrontend.views.html.components._
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.hmrcfrontend.views.viewmodels.hmrcstandardpage._

@this(
    appConfig: FrontendAppConfig,
    hmrcHead: HmrcHead,
    hmrcTimeoutDialog: HmrcTimeoutDialog,
    hmrcReportTechnicalIssueHelper: HmrcReportTechnicalIssueHelper,
    hmrcScripts: HmrcScripts,
    alphaBanner: StandardAlphaBanner,
    hmrcStandardPage: HmrcStandardPage
)

@(pageTitle: String, showBackLink: Boolean = true, timeout: Boolean = true, showSignOut: Boolean = true, showHmrcBanner: Boolean = false)(contentBlock: Html)(implicit rh: RequestHeader, messages: Messages)

@head = {

    @hmrcHead(
        headBlock = if(timeout) { Some(
            hmrcTimeoutDialog(TimeoutDialog(
                timeout             = Some(appConfig.timeout),
                countdown           = Some(appConfig.countdown),
                keepAliveUrl        = Some(routes.KeepAliveController.keepAlive().url),
                keepAliveButtonText = Some(messages("timeout.keepAlive")),
                signOutUrl          = Some(controllers.auth.routes.AuthController.signOut().url),
                signOutButtonText   = Some(messages("timeout.signOut")),
                title               = Some(messages("timeout.title")),
                message             = Some(messages("timeout.message")),
                language            = Some(messages.lang.code)
            )))
        } else None
    )
}

@content = {
    @contentBlock
    @hmrcReportTechnicalIssueHelper()
}

@hmrcStandardPage(HmrcStandardPageParams(
    pageTitle = Some(pageTitle),
    templateOverrides = TemplateOverrides(
        additionalHeadBlock = Some(head)
    ),
    serviceURLs = ServiceURLs(
        serviceUrl = Some(routes.IndexController.onPageLoad().url),
        signOutUrl = if(showSignOut) Some(controllers.auth.routes.AuthController.signOut().url) else None
    ),
    banners = Banners(
        displayHmrcBanner = showHmrcBanner,
        phaseBanner = Some(alphaBanner(appConfig.feedbackUrl))
    ),
    isWelshTranslationAvailable = appConfig.languageTranslationEnabled,
    backLink = if (showBackLink) Some(BackLink.mimicsBrowserBackButtonViaJavaScript) else None
))(content)
