{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("$className;format="decap"$.title"), form.errors) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ routes.controllers.$className$Controller.onSubmit(mode).url }}" method="post">

          {{ csrf() | safe }}

        <h1 class="govuk-heading-xl">
          {{ messages("$className;format="decap"$.heading") }}
        </h1>

          {{ govukInput({
            label: {
              text: messages('$className;format="decap"$.$field1Name$')
            },
            id: "$field1Name$",
            name: "$field1Name$",
            value: form.$field1Name$.value,
            errorMessage: form.$field1Name$.error
          }) }}

          {{ govukInput({
            label: {
              text: messages('$className;format="decap"$.$field2Name$')
            },
            id: "$field2Name$",
            name: "$field2Name$",
            value: form.$field2Name$.value,
            errorMessage: form.$field2Name$.error
          }) }}

          {{ govukButton({
            text: messages("site.continue")
          }) }}

        </form>

      </div>
    </div>
  </div>

{% endblock %}
