@import controllers.routes._
@import models.Mode

@this(
    main_template: MainTemplate,
    formHelper: FormWithCSRF
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@main_template(
    title = s"\${errorPrefix(form)} \${messages("$className;format="decap"$.title")}"
    ) {

    @formHelper(action = $className;format="cap"$Controller.onSubmit(mode), 'autoComplete -> "off") {

        @components.back_link()
        
        @components.error_summary(form.errors)

        @components.heading("$className;format="decap"$.heading")

        @components.input_text(
            field = form("$field1Name$"),
            label = messages("$className;format="decap"$.$field1Name$")
        )

        @components.input_text(
            field = form("$field2Name$"),
            label = messages("$className;format="decap"$.$field2Name$")
        )

        @components.submit_button()
    }
}
