@this(
    layout: templates.Layout,
    govukButton: GovukButton
)

@()(implicit request: Request[_], messages: Messages)

@layout(
    pageTitle    = titleNoForm(messages("signedOut.title")),
    showBackLink = false,
    timeout      = false,
    showSignOut  = false
) {

    <h1 class="govuk-heading-xl">@messages("signedOut.heading")</h1>

    <p class="govuk-body">@messages("signedOut.guidance")</p>

    <p class="govuk-body">
        @govukButton(
            ButtonViewModel(messages("site.signIn"))
                .asLink(routes.IndexController.onPageLoad().url)
        )
    </p>
}
