@mixin tabData {
  .tabular-data__data {
    display: table-cell;
  }
  .tabular-data__data--1-12 {
    width: 8.3%;
  }
  .tabular-data__data--2-12 {
    width: 16.6%;
  }
  .tabular-data__data--3-12 {
    width: 25%;
  }
  .tabular-data__data--4-12 {
    width: 33.3%;
  }
  .tabular-data__data--5-12 {
    width: 41.6%;
  }
  .tabular-data__data--6-12 {
    width: 50%;
  }
  .tabular-data__data--7-12 {
    width: 58.3%;
  }
  .tabular-data__data--8-12 {
    width: 66.6%;
  }
  .tabular-data__data--9-12 {
    width: 75%;
  }
  .tabular-data__data--10-12 {
    width: 83.3%;
  }
  .tabular-data__data--11-12 {
    width: 91.6%;
  }
  .tabular-data__data--12-12 {
    width: 100%;
  }
}
