/*
==================================
Extends tabular data
==================================
*/
@import '_tabular-data__mixin';

/*
====================================
Add full table support to fix issue where a list is used
e.g.
ul <- table
  li <- table-row
    div <- table-cell
    div <- table-cell
====================================
*/
@media screen and (min-width: 641px) {
    .tabular-data--list {
      display: table;
      width: 100%;
    }
    .tabular-data--list .tabular-data__entry {
        display: table-row;
    }
    // have to add padding and border to the cell as they don't render on the row
    .tabular-data--list .tabular-data__data {
        padding-top: 0.7em;
        padding-bottom: 0.7em;
    }
    .tabular-data--list .tabular-data__entry.divider--bottom .tabular-data__data {
        border-bottom: 1px solid #bfc1c3;
    }
}

/*
====================================
removes margin/ padding from any item which is the parent eg ul / ol
hacked with double selector to bypass 'article ul' selector in lib:
Assets Frontend _template-text.scss
====================================
*/
.tabular-data.tabular-data {
  margin: 0;
  padding: 0;
}


/*
====================================
Stop tabular data marked up with li from having margin on mobile which can cause side-scrolling
====================================
*/
@media screen and (max-width: 640px) {
  .tabular-data__entry {
    margin: 0;
  }
}



/*
====================================
Give headings more presence on mobile when stacked
====================================
 */
@media screen and (max-width: 640px) {
  .tabular-data__data:first-child {
      font-weight: 700;
      margin-bottom: .52632em;
  }
  /*
  Maintains weight when copy is inside a span
  Needed due .tabular-data__entry * selector in Assets Frontend setting font weight
  */
  .tabular-data__data:first-child * {
    font-weight: 700;
  }
}


/* new element for tabular-data to avoid conflicts with tabular-data__details etc */
  .tabular-data__data {
    display: block;
    text-align: left;
    margin: .52632em 0;
    padding-right: .52632em;
    position: relative; /* needed for positioning labels */
  }
/* grid for tabular data to allow more flexible usage than the standard 4-col allows */

  @media screen and (min-width: 641px){
    @include tabData;
  }

/*
====================================
End tabular-data
====================================
*/
