/*
====================================
this fixes a specificity issue with content__body p selectors
see https://github.com/hmrc/assets-frontend/issues/676
====================================
*/
p.lede {
  font-family: "nta",Arial,sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}
/*replicate font-xsmall due to ".content p" rule*/
p.font-xsmall{
font-family:"nta",Arial,sans-serif;
font-size:16px;
line-height:1.25;
font-weight:300;
text-transform:none
}
@media (max-width: 640px){
p.font-xsmall{
  font-size:14px;
  line-height:1.14286
  }
}


/*give some space to the hero*/
.hero {
  margin: 1em 0;
}
.hero__heading-large,
.hero__heading-small {
  display: block;
}
