{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages(page + ".title")) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ messages(page + '.heading') }}</h1>
      
      {% if message %}
        <p class="govuk-body">
          {{ messages(message) }}
        </p>
      {% endif %}

  </div>
{% endblock %}