{% extends "includes/layout.njk" %}

{% block pageTitle %}
  {% set title = messages("index.title") %}
  {% include "includes/title.njk" %}
{% endblock %}

{% block content %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("index.heading") }}
        </h1>

      </div>
    </div>
  </div>

{% endblock %}
