{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("session_expired.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("session_expired.heading") }}
        </h1>

        <p class="govuk-body">
          {{ messages("session_expired.guidance") }}
        </p>

      </div>
    </div>
  </div>

{% endblock %}
