<!--[if lte IE 8]><link href="{{ routes.controllers.Assets.versioned("stylesheets/application-ie-8.css").url }}" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="{{ routes.controllers.Assets.versioned("stylesheets/application.css").url }}" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
