{% extends "govuk/template.njk" %}
{%- set assetPath = "/assets/lib/govuk-frontend/govuk/assets" -%}
{%- set htmlLang = request.language -%}

{% block head %}
  {% include "includes/head.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/$name$",
    serviceName: messages("site.service_name"),
    serviceUrl: "/$name$",
    containerClasses: "govuk-width-container",
    assetsPath: "/assets"
  }) }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.njk" %}
{% endblock %}

{% block content %}
  {% include "includes/language-toggles.njk" %}
  {% block mainContent %}{% endblock %}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.njk" %}
  {% endblock %}
{% endblock %}

{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
