{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% macro phaseBanner() %}
{{ messages("phaseBanner.1") }} <a class="govuk-link" href="{{ config.betaFeedbackUnauthenticatedUrl }}">{{ messages("phaseBanner.2") }}</a> {{ messages("phaseBanner.3") }}
{% endmacro %}

{{ govukPhaseBanner({
  tag: {
    text: "alpha"
  },
  html: phaseBanner()
}) }}
