@import config.FrontendAppConfig
@import viewmodels.{Section, AnswerSection, RepeaterAnswerSection}

@(appConfig: FrontendAppConfig, answerSections: Seq[Section])(implicit request: Request[_], messages: Messages)

@main_template(
    title = messages("checkYourAnswers.title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @components.heading("checkYourAnswers.heading")</h1>

    <p>@messages("checkYourAnswers.guidance")</p>

    @for(section <- answerSections){
        @{
            section match {
                case a: AnswerSection => components.answer_section(a)
                case r: RepeaterAnswerSection => components.repeater_answer_section(r)
            }
        }
    }
}
