@import viewmodels.Section
@import views.ViewUtils

@this(
        layout: Layout,
        govukBackLink: GovukBackLink,
        govukSummaryList: GovukSummaryList,
        button: GovukButton
)

@(answerSections: Seq[Section])(implicit request: Request[_], messages: Messages)

@layout(
    pageTitle = messages("checkYourAnswers.title")
) {

    @components.heading("checkYourAnswers.heading")

    @govukSummaryList(
        SummaryList(
            mapAnswerSectionsToSummary(answerSections)
        )
    )

    @button(Button(content = Text(messages("checkYourAnswers.submit"))))
}
