@import play.twirl.api.HtmlFormat
@import views.html.components.language_selection
@import views.html.layouts.GovUkTemplate

@this(
    header_nav: HeaderNav,
    head: Head,
    footer: Footer,
    serviceInfo: ServiceInfo,
    main_content_header: MainContentHeader,
    footer_links: FooterLinks,
    main_content: MainContent,
    reportAProblemLink: ReportAProblemLink,
    hmrcGovUkTemplate: GovUkTemplate
)

@(appConfig: config.FrontendAppConfig,
  title: String,
  mainClass: Option[String] = None,
  mainDataAttributes: Option[Html] = None,
  bodyClasses: Option[String] = None,
  sidebar: Html = HtmlFormat.empty,
  contentHeader: Option[Html] = None,
  mainContent: Html = HtmlFormat.empty,
  serviceInfoContent: Html = HtmlFormat.empty,
  scriptElem: Option[Html] = None)(implicit request: Request[_], messages: Messages)

@headContent = {
    @head(
      linkElem = None,
      headScripts = None)
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/$name;format="word"$-app.css")' />
}

@headerNavLinks = {}

@insideHeader = {
    @header_nav(
      navTitle = Some(messages("site.service_name")),
      navTitleLink = None,
      showBetaLink = false,
      navLinks = Some(headerNavLinks))
}

@afterHeader = {}

@bodyEnd = {
    @footer(
      analyticsToken = Some(appConfig.analyticsToken),
      analyticsHost = appConfig.analyticsHost,
      ssoUrl = None,
      scriptElem = scriptElem,
      gaCalls = None)
      <script src='@routes.Assets.versioned("javascripts/$name;format="word"$-app.min.js")'> </script>
}

@footerTop = {}
@footerLinks = {}

@serviceInfoBlock = {
    @serviceInfo(
      betaBanner = HtmlFormat.empty,
      includeHMRCBranding = false,
      includeGridWrapper = false,
      serviceInfoContent = Some(serviceInfoContent))
}

@mainContentHeader = {

    @if(appConfig.languageTranslationEnabled) {
        @language_selection(
            appConfig.languageMap,
            appConfig.routeToSwitchLanguage,
            Some("translate u-align--right"))
    }

    @if(contentHeader.isDefined) {
        @main_content_header(contentHeader = contentHeader.get)
    }
}

@getHelpForm = @{reportAProblemLink(appConfig.reportAProblemPartialUrl, appConfig.reportAProblemNonJSUrl)}

@content = {
    @main_content(
      article = mainContent,
      mainClass = mainClass,
      mainDataAttributes = mainDataAttributes,
      mainContentHeader = mainContentHeader,
      serviceInfo = serviceInfoBlock,
      getHelpForm = getHelpForm,
      sidebar = sidebar)
}

@hmrcGovUkTemplate(Some(title), bodyClasses)(headContent, bodyEnd, insideHeader, afterHeader, footerTop, Some(footer_links()), true)(content)
