@this()

@()
<script src='@controllers.routes.Assets.versioned("javascripts/gtm.js")'></script>
<script src='@controllers.routes.Assets.versioned("lib/govuk-frontend/govuk/all.js")'></script>
<script src='@controllers.routes.Assets.versioned("javascripts/$name;format="word"$.js")'></script>

 <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TGKSS46" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
 <!-- End Google Tag Manager (noscript) -->
